body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

    .header {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0 150px;
    }

    h1{
        font-size: 24px;
        font-weight: bolder;
        color: #f9faf8;
    }

    .title {
        font-size: 48px;
    }

    ul{
        display: flex;
        list-style-type: none;        
        gap: 10px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: #e5e7eb
    }